﻿@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h2>Control Your SLA's</h2>
        <p>
            Tickets center lets you achieve your SLA's. 
            by giving you real time information about your 
            delivery rate, keeping you up to date about the 
            status of of your department's efficiency
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Go to dashboard &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Measure your team's response time, reward efficiency with recognition</h2>
        <p>Tickets Center lets you measure each member of your team, keeping track of their efficiency.
           Overrall tickets visibility for your team encourages competition and breeds better response
           time from every member on your team. 
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Configure rankings visibility &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>App Companion</h2>
        <p>The app companion lets you track your tickets on the go, with our android client.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>